In [1]:
import pymongo
import pprint

In [2]:
from pymongo import MongoClient


client = MongoClient("mongodb://localhost:27017/")

In [3]:
show_db=client.list_database_names()
print(show_db)

['admin', 'config', 'local', 'mydatabase', 'mydatabases', 'production']

In [5]:
new=client["test"]
print(new)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [6]:

collections=new.list_collection_names()
print(collections)

[]

In [7]:
test=new["test"]

In [8]:
people=[
    {
        "name":"kushagra",
        "occupation":"student"
    },
    {
    
        "name":"jastej",
        "occupation":"student"
    },
    { 
        "name":"nikamma",
        "occupation":"business"
    },
    
]
people=test.insert_many(people).inserted_ids
print(people)

[ObjectId('67bc4b26e7a14e3c995f4145'), ObjectId('67bc4b26e7a14e3c995f4146'), ObjectId('67bc4b26e7a14e3c995f4147')]

In [11]:
for people in test.find():
    print(people)

{'_id': ObjectId('67bc4b26e7a14e3c995f4145'), 'name': 'kushagra', 'occupation': 'student'}
{'_id': ObjectId('67bc4b26e7a14e3c995f4146'), 'name': 'jastej', 'occupation': 'student'}
{'_id': ObjectId('67bc4b26e7a14e3c995f4147'), 'name': 'nikamma', 'occupation': 'business'}

In [13]:
name=[
    {
        "name":"batra",
        "occupation":"business"
    },
    {
        "name":"saroj",
        "occupation":"teacher"
    }
]
people=test.insert_many(name).inserted_ids
print(people)

[ObjectId('67bc4e60e7a14e3c995f4148'), ObjectId('67bc4e60e7a14e3c995f4149')]

In [14]:
for people in test.find():
    print(people)

{'_id': ObjectId('67bc4b26e7a14e3c995f4145'), 'name': 'kushagra', 'occupation': 'student'}
{'_id': ObjectId('67bc4b26e7a14e3c995f4146'), 'name': 'jastej', 'occupation': 'student'}
{'_id': ObjectId('67bc4b26e7a14e3c995f4147'), 'name': 'nikamma', 'occupation': 'business'}
{'_id': ObjectId('67bc4e60e7a14e3c995f4148'), 'name': 'batra', 'occupation': 'business'}
{'_id': ObjectId('67bc4e60e7a14e3c995f4149'), 'name': 'saroj', 'occupation': 'teacher'}

In [17]:
#to find using name
# select * from table where name =="name"
def find_by_name(name):
   
        person=test.find_one({"name":name})
        
        if person:
            print(f"person {person["name"],{person["occupation"]}}")
  
        
find_by_name("ksuhu")