In [1]:
ls=[1,2,3,4,'x']
print(ls)

[1, 2, 3, 4, 'x']

In [3]:
for i in range(3):
    ls.append(input("Enter a value"))

Enter a value 1
Enter a value asd
Enter a value ssdd

In [5]:
print(ls)

[1, 2, 3, 4, 'x', '1', 'asd', 'ssdd']

In [9]:
d={'Mike':25,'Jack':23,'Tom':20}
print(d)

{'Mike': 25, 'Jack': 23, 'Tom': 20}

In [11]:
d['Jerry']=21

In [13]:
print(d)

{'Mike': 25, 'Jack': 23, 'Tom': 20, 'Jerry': 21}

In [15]:
print(d.items())

dict_items([('Mike', 25), ('Jack', 23), ('Tom', 20), ('Jerry', 21)])

In [19]:
print(list(d.items()))

[('Mike', 25), ('Jack', 23), ('Tom', 20), ('Jerry', 21)]

In [25]:
import pandas as pd
s=pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [33]:
#give my own index
s=pd.Series([10,20,30,40],index=['first','second','third','fourth'])